<template>
  <span class="lang-switcher">
    <v-btn
      v-for="(locale, i) in showLocales"
      :key="i"
      color="brown lighten-3"
      nuxt-link
      :to="switchLocalePath(locale.code)"
    >
      {{ locale.name }}
    </v-btn>
  </span>
</template>

<script>
export default {
  name: 'LangSwitcher',
  computed: {
    showLocales(locale) {
      return this.$i18n.locales
    }
  },
  methods: {}
}
</script>
