<template>
  <v-menu
    offset-y
    origin="center center"
    :nudge-right="140"
    :nudge-bottom="10"
    transition="scale-transition"
  >
    <template v-slot:activator="{ on, attrs }">
      <div v-bind="attrs" text class=" text-truncate" v-on="on">
        <v-icon>mdi-account</v-icon>
        {{ $auth.user.username }}
      </div>
    </template>
    <v-list>
      <v-list-item
        v-for="(item, i) in items"
        :key="i"
        nuxt-link
        :to="localePath(item.to)"
        @click="item.click"
      >
        <v-list-item-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="item.title" />
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  name: 'LangSwitcher',
  data() {
    return {
      items: [
        {
          icon: 'mdi-apps',

          title: 'Profile',
          to: '/',
          click: (e) => {}
        },
        {
          icon: 'mdi-apps',

          title: 'Settings',
          to: '/',
          click: (e) => {}
        },
        {
          icon: 'mdi-apps',
          href: '#',
          title: 'Logout',
          to: '/',
          click: (e) => {
            this.$auth.logout()
          }
        }
      ]
    }
  },
  computed: {},
  methods: {}
}
</script>
<style></style>
