<template>
  <v-app dark>
    <v-navigation-drawer v-model="drawer" :clipped="clipped" fixed app>
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="localePath(item.to)"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="clipped" fixed app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />

      <v-toolbar-title v-text="title" />

      <v-spacer />
      <client-only placeholder="Loading...">
        <div v-if="!$auth.loggedIn">
          <v-btn color="brown lighten-3" nuxt-link :to="localePath('login')">
            {{ $t('layout.login') }}
          </v-btn>
        </div>
        <div v-else class=" d-flex justify-end user-menu-width">
          <UserMenu />
        </div>
      </client-only>
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>

    <v-footer fixed app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
      <v-spacer />
      <LangSwitcher />
    </v-footer>
  </v-app>
</template>

<script>
// import { mapActions, mapGetters } from 'vuex'
import LangSwitcher from '~/components/LangSwitcher'
import UserMenu from '~/components/UserMenu'
export default {
  components: {
    LangSwitcher,
    UserMenu
  },
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/inspire'
        }
      ],

      title: 'Vuetify.js'
    }
  },
  methods: {}
}
</script>
<style>
.user-menu-width {
  width: 25% !important;
}
</style>
