<template> </template>

<script>
import queryString from 'query-string'

export default {
  async mounted() {
    const loader = this.$loading.show()
    const code = queryString.parse(window.location.search).code
    const locale =
      this.$i18n.locale == this.$i18n.defaultLocale
        ? ''
        : `${this.$i18n.locale}/`
    const { data } = await this.$axios.post('/api/auth/loginWithFB', {
      code,
      locale
    })
    await this.$auth.setToken('facebook', 'Bearer ' + data.fb.access_token)
    await this.$auth.setToken('local', 'Bearer ' + data.locale.accessToken)

    await this.$auth.setStrategy('local')
    // await this.$auth.setStrategy('facebook')
    await this.$auth.fetchUser()
    this.$router.push(this.$store.state.redirect)

    loader.hide()
  }
}
</script>
