<template>
  <v-container>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <ValidationObserver v-slot="{ invalid }" ref="observer">
            <v-toolbar dark color="primary">
              <v-toolbar-title>{{ $t('layout.login') }}</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-form>
                <ValidationProvider
                  v-slot="{ errors }"
                  :name="$t('common.email').toLowerCase()"
                  rules="required|email|max:50"
                >
                  <v-text-field
                    v-model="email"
                    prepend-icon="mdi-account"
                    name="email"
                    :label="$t('common.email')"
                    :error-messages="errors"
                  >
                  </v-text-field>
                </ValidationProvider>
                <ValidationProvider
                  v-slot="{ errors }"
                  :name="$t('common.password').toLowerCase()"
                  rules="required|verifyPassword|max:50"
                >
                  <v-text-field
                    id="password"
                    v-model="password"
                    prepend-icon="mdi-lock"
                    name="password"
                    :label="$t('common.password')"
                    type="password"
                    :error-messages="errors"
                    :counter="10"
                  >
                  </v-text-field>
                </ValidationProvider>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" :disabled="invalid" @click="login"
                >Login</v-btn
              >
              <v-btn color="primary" @click="loginWithFB">Facebook</v-btn>
            </v-card-actions>
          </ValidationObserver>
        </v-card>
        <v-alert :value="alert" type="error">{{ $t(loginErr) }}</v-alert>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import queryString from 'query-string'

export default {
  name: 'Login',
  data() {
    return {
      valid: false,
      username: 'rverv',
      loginErr: null,
      alert: false,

      email: 'test@gmail.com',
      password: 'aaaAAA1234'
    }
  },
  methods: {
    async loginWithFB() {
      const locale =
        this.$i18n.locale == this.$i18n.defaultLocale
          ? ''
          : `${this.$i18n.locale}/`

      const stringifiedParams = queryString.stringify({
        client_id: process.env.FB_CLIENT_ID,
        redirect_uri: `${process.env.FB_REDIRECT_URL}/${locale}fb`,
        scope: ['email'].join(','), // comma seperated string
        response_type: 'code'
        // auth_type: 'rerequest',
        // display: 'popup'
      })

      const facebookLoginUrl = `${process.env.FB_LOGIN_URL}?${stringifiedParams}`
      window.location.href = facebookLoginUrl
    },

    login() {
      this.$auth
        .loginWith('local', {
          data: {
            email: this.email,
            password: this.password,
            type: 'member'
          }
        })
        .then(() => {
          this.$router.push(this.$store.state.redirect)
        })
        .catch((err) => {
          this.loginErr = err.response.data.code
          this.alert = true
        })
    }
  }
}
</script>

<style scoped></style>
